@font-face {
                    font-family: CormorantUpright;
                    font-display: swap;
                    src: url("../fonts/CormorantUpright-Bold.woff") format("woff"), url("../fonts/CormorantUpright-Bold.woff2") format("woff2");
                    font-weight: 700;
                    font-style: normal;
                    }
@font-face {
                    font-family: CormorantUpright;
                    font-display: swap;
                    src: url("../fonts/CormorantUpright-Light.woff") format("woff"), url("../fonts/CormorantUpright-Light.woff2") format("woff2");
                    font-weight: 300;
                    font-style: normal;
                    }
@font-face {
                    font-family: CormorantUpright;
                    font-display: swap;
                    src: url("../fonts/CormorantUpright-Medium.woff") format("woff"), url("../fonts/CormorantUpright-Medium.woff2") format("woff2");
                    font-weight: 500;
                    font-style: normal;
                    }
