[data-tooltip] {
  position: relative; /* Относительное позиционирование */
  z-index: 999;
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 200px; /* Ширина подсказки */
  left: 0;
  top: 0; /* Положение подсказки */
  background: white; /* Синий цвет фона */
  color: $purple-standart; /* Цвет текста */
  border: 1px solid $purple-standart;
  border-radius: 5px;

  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 1s; /* Время появления подсказки */
}
[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
}

.header {
  font-size: $header-fsz;
  color: #ffffff;
  background-color: $header-bg;
  @media (max-width: 500px) {
    display: none;
  }
  .open-menu {
    background: #e610e3;
    padding: 0px 18px;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background: white;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px $header-pr 15px $header-pl;

    @media (max-width: 1200px) {
      flex-wrap: wrap;

      &__logo-container {
        width: 100%;
        margin-bottom: 5px;
        color: white;
      }
    }
    @media (max-width: 580px) {
      flex-wrap: nowrap;
      padding: 7px $header-pr-sm 7px $header-pl-sm;

      &__logo-container {
        width: auto;
        margin-bottom: 5px;
      }
    }

    &__logo {
      // width: 250px;
      height: 50px;
      @media (max-width: 1200px) {
        margin: auto;
      }
      @media (max-width: 950px) {
        // width: 200px;
        height: 40px;
      }
      @media (max-width: 950px) {
        // width: 180px;
        height: 36px;
      }
    }
    &__place,
    &__phone,
    &__cart-block,
    &__primary-goods {
      display: flex;
      align-items: flex-start;
      text-decoration: none;
      color: white;
      img {
        margin-right: 10px;
      }
      .img-svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        path {
          fill: $purple-standart;
        }
      }
      h3 {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
      }
      p {
        color: #bcc2cb;
        font-weight: 400;
        font-size: 12px;
      }
      a {
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 14px;
      }
    }
    &__place,
    &__phone {
      @media (max-width: 580px) {
        display: none;
      }
    }

    &__connection {
      display: flex;
      a {
        margin-right: 10px;
        display: flex;
        align-items: center;
        .img-svg path {
          fill: $purple-standart;
        }
      }
      @media (max-width: 950px) {
        display: none;
      }
    }

    &__goods {
      display: flex;
      align-items: flex-start;
      @media (max-width: 500px) {
        align-items: center;
      }
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
      }
      p {
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        @media (max-width: 750px) {
          display: none;
        }
      }
      a {
        &:first-child,
        &:nth-child(2) {
          margin-right: 27px;
          @media (max-width: 750px) {
            margin-right: 10px;
          }
        }
        & div {
          @media (max-width: 1350px) {
            display: none;
          }
        }
      }
    }
    &.short {
      padding-top: 0;
      padding-bottom: 0;
      @media (max-width: 1290px) {
        padding: 0;
        .header-top__place,
        .header-top__phone {
          display: none;
        }
      }
      @media (max-width: 1200px) {
        .header-top__logo-container {
          width: auto;
          margin-bottom: 0;
        }
      }
      .open-menu {
        height: 52px;
      }
      .header-top__logo {
        height: 36px;
      }
      .header-top__place h3,
      .header-top__place p {
        font-size: 12px;
      }
      .header-menuline__section {
        padding-top: 0;
        padding-bottom: 0;
        border-right: none;
        max-width: 260px;
      }
      .header-top {
        &__cart-block {
          position: relative;
          text-decoration: none;
          height: 52px;
          align-items: center;
          justify-content: center;
          padding: 0 16px;
          border: 1px solid #686d77;
          @media (max-width: 450px) {
            padding: 0 8px;
          }
          .img-svg path {
            fill: $purple-standart;
          }
        }
        &__primary-goods {
          position: relative;
          text-decoration: none;
          height: 52px;
          align-items: center;
          justify-content: center;
          padding: 0 16px;
          border: 1px solid #686d77;
          @media (max-width: 450px) {
            padding: 0 8px;
          }
        }
      }
      .header-top__count {
        position: absolute;
        right: 30%;
        top: 18%;
        text-decoration: none;
        font-size: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2b2c31;
        font-weight: 700;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
  // end -top
  &-menuline {
    display: flex;
    width: 100%;
    border-top: 1px solid #686d77;
    border-bottom: 1px solid #686d77;
    padding: 0 $header-pr 0 $header-pl;
    position: relative;

    @media (max-width: 580px) {
      padding: 0;
    }

    form {
      padding: 0;
      display: flex;
      align-items: center;
      @media (max-width: 1040px) {
        margin-left: auto;
        max-width: 300px;
        border-left: 1px solid #686d77;
      }
      @media (max-width: 500px) {
        border-left: none;
      }
    }

    &__section {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #ffffff;
      padding: 16.5px 20px;
      background-color: $header-bg;
      border-right: 1px solid #686d77;
      flex-grow: 1;

      &.small {
        position: relative;
      }
      &:hover {
        .divide-menu {
          height: 640px;
          padding: 21px 39px 0;

          opacity: 1;
          border-top-width: 1px;
        }
        .divide-menu__link {
          color: $purple-standart;
        }
      }

      &:first-child {
        border-left: 1px solid #686d77;
      }
      &:last-child {
        flex-grow: 2;
      }

      @media (max-width: 1230px) {
        font-size: 12px;
        padding: 10px 20px;
      }
      @media (max-width: 1040px) {
        display: none;
      }

      .dropdown-content {
        display: none;
        // height: 0;
        // overflow: hidden;
        // transition: all 0.5s ease;

        position: absolute;
        left: 0;
        top: 100%;
        background-color: #2b2c31;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 997;

        a {
          color: #ffffff;
          padding: 12px 16px;
          text-decoration: none;
          text-transform: none;
          text-align: left;
          display: block;
          position: relative;
          // padding-bottom: 2px;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0%;
            height: 2px;
            transition: all 0.3s ease;
            background-color: $purple-standart;
          }
          &:hover {
            &::after {
              left: 0%;
              bottom: 0;
              width: 100%;
            }
          }
        }
        &.show {
          display: block;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }

      input {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        background: none;
        color: #686d77;
        padding-left: 20px;
        width: 100%;
      }
      button[type="submit"] {
        height: 100%;
        background: #686d77;
        padding: 16px 21px;
        margin-left: auto;
        min-width: 64px;
      }
    }
  }

  &-searchline {
    position: relative;
    display: flex;
    padding: 18px $header-pr 15px $header-pl;
    justify-content: space-between;
    // p {
    //   flex-shrink: 0;
    // }
    @media (max-width: 1040px) {
      display: none;
    }
  }
  &-mobile {
    display: none;
    @media (max-width: 500px) {
      display: block;
    }
    &.header {
      .open-menu {
        background: #e610e3;
        padding: 10px 10px;
      }
      .header-top {
        &__goods {
          button {
            background: none;
          }
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .header-menuline {
        justify-content: space-between;
        .header-top__place,
        .header-top__connection {
          display: flex;
        }
      }
    }
  }
}

.sidebar-menu {
  position: absolute;
  width: 350px;
  height: 100vh;
  background-color: #2b2c31;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 32px 15px 0 15px;
  transition: all 0.3s linear;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  &__close {
    position: relative;
    margin-bottom: 27px;
    width: 40px;
    height: 40px;
    background: #e610e3;
    div {
      position: absolute;
      height: 2px;
      width: 26px;
      background: #fff;

      top: calc(50%);
      left: calc(50% - 12px);
      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  &.hidden {
    left: -360px;
  }

  &__item {
    margin-bottom: 2px;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__link {
    font-size: 16px;
    // line-height: 23px;

    position: relative;

    display: flex;

    box-sizing: border-box;
    width: 100%;
    // min-height: 44px;
    padding: 8px 10px;

    color: white;

    align-items: center;
    justify-content: flex-start;

    &_toggle {
      padding: 8px 30px 8px 9px;
      text-transform: uppercase;
      border-bottom: 1px solid #686d77;
    }

    &:hover {
      color: $purple-standart;
    }
  }

  &__inner {
    display: none;

    width: 100%;
    &.hidden {
      display: block;
    }
    .sidebar-menu__link {
      font-weight: 400;
      font-size: 14px;
    }
    .sidebar-menu__item {
      background-color: #686d77;
      display: flex;
      align-items: center;
      &::before {
        position: relative;
        transition: all 0.3s ease-in;

        content: url("../img/header-icons/menu-link-arrow.svg");
        margin-left: 7px;
        height: 15px;
      }
      &:hover {
        &::before {
          transform: translateX(4px);
        }
      }
    }
  }
  &__production {
    width: 90%;
    margin: auto;
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px 10px;
    &__item {
      text-decoration: none;
      color: white;
      &:hover {
        color: $purple-standart;
      }
    }
  }
}

.divide-menu {
  position: absolute;
  z-index: 998;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0 39px 0;

  border-top: 0 solid $purple-standart;
  border-radius: 0 0 10px 10px;
  background-color: #f8f8f8;
  box-shadow: 0 0 20px rgb(0 0 0 / 16%);

  will-change: padding, height, border-color;
  overflow: hidden;
  transition: all 0.45s ease;
  &__link {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: white;
  }
  &-list {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    max-height: 595px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    @media (max-width: 1300px) {
      max-height: 800px;
    }
  }
  &-item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: auto;
    max-width: 177px;
    max-height: 595px;
    margin-right: 44px;
    margin-bottom: 29px;
    padding-top: 28px;
    flex-wrap: wrap;
    .more {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #e610e3;
      background: 0 0;
      display: flex;
      align-items: center;
    }
    &__title {
      font-size: 14px;
      font-weight: 700;
      line-height: 120%;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      text-transform: uppercase;
      color: #2b2c31;
      white-space: nowrap;
    }
    &__link {
      text-decoration: none;
      font-size: 14px;
      font-weight: normal;
      line-height: 28px;
      display: inline;
      color: #3f4a5d;
    }
  }
}
.navigation-brands {
  &__wrapper {
    width: auto;
  }
  &__inner {
    position: absolute;
    top: 100%;
    left: 0;

    overflow: hidden;

    width: auto;
    height: 0;
    padding: 0;

    transition-delay: 0;

    opacity: 0;
    border-radius: 0 10px 10px 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);

    will-change: height, padding, opacity;

    &_border-right {
      border-radius: 10px 0 10px 10px;
    }
    &_border {
      border-radius: 10px;
    }
    &__list {
      display: inline-flex;

      width: auto;

      align-items: flex-start;
      justify-content: flex-start;
    }
    &-col {
      display: flex;
      flex-direction: column;

      margin-right: 60px;
    }
    &__link {
      font-size: 14px;
      font-weight: normal;
      line-height: 28px;

      color: #3f4a5d;
      span {
        position: relative;

        white-space: nowrap;
      }
      span::after {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 0;
        height: 1px;

        content: "";

        background-color: #147ad9;

        will-change: width;
      }
      &:hover {
        color: #147ad9;
      }
      &:hover span::after {
        width: 100%;
      }
    }
  }

  &__list {
    position: relative;
    z-index: 996;
    display: flex;

    width: 100%;

    align-items: center;
    justify-content: space-between;
  }
  &__item {
    position: relative;

    display: inline-flex;
    &:hover .navigation-brands__link span::after {
      width: 100%;
    }
    &:hover .navigation-brands__inner {
      height: auto;
      padding: 21px 39px 17px;

      opacity: 1;
    }
    &:last-child .navigation-brands__inner {
      border-radius: 10px 0 10px 10px;
    }
    &:hover .navigation-brands__link {
      color: #ffa050;
      background-color: #f8f8f8;
    }

    @media (max-width: 1520px) {
      &:first-child {
        display: none;
      }
    }
  }

  &__link {
    font-size: 16px;
    line-height: 19px;

    position: relative;
    z-index: 2;
    padding: 13px 18px 11px 18px;

    transition: none;
    letter-spacing: 0.01em;

    color: #b7becc;
    border-radius: 10px 10px 0 0;
    background-color: transparent;

    will-change: background-color, color;
    @media (max-width: 1510px) {
      padding: 13px 8px 11px 8px;
    }
    span {
      position: relative;
    }
    span::after {
      position: absolute;
      bottom: 1px;
      left: 0;

      width: 0;
      height: 1px;

      content: "";

      background-color: #ffa050;

      will-change: width;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.01em;

    color: #b7becc;
  }
}

.logo {
  display: grid;
  grid-template-areas: "l n1" "l n2";
  column-gap: 8px;
  width: fit-content;
  margin: auto;

  span {
    color: white;
  }

  &-circle {
    grid-area: l;
    position: relative;
    padding-top: 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid $purple-standart;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;

      width: 31px;
      height: 31px;
      left: 2%;
      top: 16%;
      background: $purple-standart;
      border-radius: 50%;
    }
    span {
      position: relative;
      z-index: 2;
      font-family: "Raleway";
      font-weight: 700;
      font-size: 7px;
      letter-spacing: 0.015em;
      &:nth-child(2) {
        font-size: 4px;
      }
      &:nth-child(3) {
        font-size: 7px;
        margin-right: 4px;
        margin-left: auto;
      }
    }
  }
  &__name {
    display: flex;
    font-family: "Raleway";
    font-feature-settings: "pnum" on, "lnum" on;
    letter-spacing: 0.015em;

    &:first-child {
      grid-area: n1;
      align-items: flex-end;
      font-weight: 700;
      font-size: 20px;

      @media (max-width: 420px) {
        font-size: 13px;
      }
    }
    &:nth-child(2) {
      align-items: flex-start;
      grid-area: n2;
      font-size: 13px;

      @media (max-width: 420px) {
        font-size: 8px;
      }
    }
    span {
      color: $purple-standart;
    }
  }
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: $purple-standart;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
